# Root level files
node_modules/

# Node
frontend/node_modules

# Python/Django
backend/venv
backend/backend/__pycache__
backend/*.pyc
__pycache__/
*.py[cod]
*$py.class

# Ignore pycache directories in any folder (including migrations)
**/__pycache__/

# Environment files
*.env

# MacOS Specific files
*.DS_Store

# VSCode specific files
.vscode/